:root {
  --basically-white: rgb(250,250,250);
  --light-gray: rgb(230,230,230);
  --light-orange: rgb(242, 179, 65);
  --light-orange-lil-darker: rgb(204, 150, 51);
  --dark: rgb(50, 51, 54);
  --dark-hover: rgb(114, 114, 143);
  --light-blue: rgb(234,244,243);
  --light-blue-lil-darker: rgb(203, 223, 221);
  --dark-cyan: rgb(52, 107, 109);
  --dark-cyan-lil-darker: rgb(43, 89, 92);
  --gentler-dark-gray: rgb(70,70,92);
}
@font-face {
  font-family: MontserratThin;
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
  background-color: var(--basically-white);
  /* background: url("../image/scattered-forcefields.svg"); */
  /* background: url("../image/generated.svg"); */
  background-image: url('../image/homepage_background_static2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden
}

.App {
  position: relative;
  width: 100%;
}

.logo {
  width: 120px;
  padding-left: 4vw;
  padding-top: 9px;
  animation: fadeinfromtop 1s ease;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 50vw;
  min-width: 400px;
  padding-top: 2vh;
  animation: fadeinfromtop 1s ease;
}

.nav-link {
  height: 22px;
  color: var(--dark);
  padding-left: 4vw;
  padding-right: 4vw;
  text-decoration: none;
  border-left: 1px solid var(--light-gray);
  text-align: center;
  padding-bottom: 2vh;
}
.nav-link:hover {
  animation: buttonhover 0.3s ease;
  box-shadow: 0px 5px 5px -1px #EEE;
  color: var(--dark-hover);
  transform: translateY(-1px);
}
.nav-link-active {
  color: var(--light-orange);
  text-decoration: underline;
}

.homepage-container {
  clear: right;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 1600px;
}

.homepage-section-1 {
  margin-top: 10vh;
  height: 90vh;
  position: relative;
  width: 100%;
}

.homepage-main-intro-container {
  position: relative;
  padding-top: 30px;
  margin-left: 100px;
  width: 600px;
  height: 50vh;
  margin-bottom: 20vh;
  animation: fadeinfrombottom 1s ease;
  box-shadow: 10px 10px 10px -2px #EEE;
}

.vertical-line-animation {
  position: absolute;
  border-right: 2px solid var(--light-orange);
  animation-name: vertical-line-flowdown;
  animation-duration: 500ms;
  animation-timing-function: ease;
  height: 140px;
}

#vertical-line-1 {
  width: 0px;
  margin-top: 20px;
}

#vertical-line-1 {
  width: 20px;
  margin-top: 60px;
}

.homepage-name {
  color: var(--dark);
  font-weight: 100;
  font-size: 4em;
  font-family: MontserratThin;
  margin-bottom: 0px;
  margin-left: 50px;
  font-weight: bold;
}
.homepage-title {
  font-weight: normal;
  color: var(--dark);
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 29px;
  margin-left: 55px;

}
.homepage-question {
  color: var(--dark-cyan);
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 1.2em;
  margin-left: 55px;

} 

.scroll-down-suggestion {
  position: relative;
  width: 100vw;
  text-align: center;
  color: #777;
}

.experience-section-container {
  position: relative;
  margin: 30px 0px;
  padding-top: 9px;
  padding-left: 3.5vw;
  padding-bottom: 9px;
  padding-right: 3.5vw;
  width: 63vw;
  height: 260px;
  animation: fadeinfromleft 0.8s ease;
  box-shadow: 0px 6px 9px 2px #DDD;
}
.experience-section-container h3 {
  padding: 0.5em 1vw;
  width: 40vw;
}

.experience-section-1 {
  background-color: var(--light-orange);
}
.experience-section-1 h3 {
  background-color: var(--light-gray);
}
.experience-section-2 {
  background-color: var(--light-blue);
}
.experience-section-2 h3 {
  background-color: var(--light-blue-lil-darker);
}
.experience-section-3 {
  background-color: var(--dark-cyan);
}
.experience-section-3 h3 {
  background-color: var(--dark-cyan-lil-darker);
  color: var(--basically-white);
}

.project-page h2 {
  padding-left: 3vw;
  font-family: Montserrat;
}

.project-description-container {
  display: block;
  box-sizing: border-box;
  width: 80vw;
  margin-bottom: 3vh;
  background-color: var(--basically-white);
  font-family: Montserrat;
  color: var(--dark);
  box-shadow: 5px 5px 5px 0px #DDD;
}
.project-title-description-container {
  /* background-color: red; */
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding-left: 3vw;
  height: 30vh;
  width: 55vw;
}
.project-title-description-container h3 {
  color: var(--gentler-dark-gray);
  font-family: MontserratThin;
}
.project-title-description-container p {
  color: var(--gentler-dark-gray);
  font-size: 0.9rem;
}
.technologies-used-container {
  /* background-color:aquamarine; */
  font-size: 0.9rem;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  padding: 0vh 2vw;
  width: 25vw;
}
.technologies-used-container h5 {
  margin-top: 0px;
  padding-top: 20px;
  font-size: 0.9rem;
  color: var(--gentler-dark-gray);
}

.project-related-link {
  font-size: 0.9rem;
}
.project-related-link:visited {
  color: rgb(43, 99, 184);
}

.view-project-demo-link {
  position: relative;
  margin-top: 0.8vh;
  margin-left: 50%;
}
.view-project-code-link {
  margin-left: 5vw;
}
.external-link-image {
  margin-left: 0.5ch;
  width: 10px;
}

.arrow-div {
  position: absolute;
  left: calc(70vw);
  top: 0px;
  border-top: 139px solid transparent;
  border-bottom: 139px solid transparent;
}

#arrow-orange {
  border-left: 130px solid var(--light-orange);
}
#arrow-light-blue {
  border-left: 130px solid var(--light-blue);
}
#arrow-dark-cyan {
  border-left: 130px solid var(--dark-cyan);
}

@keyframes vertical-line-flowdown {
  from {
    height: 0px;
  }
  to {
    height: 140px;
  }
}

@keyframes fadeinfrombottom {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeinfromtop {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinfromleft {
  from {
    transform: translateX(-80px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }

}

@keyframes buttonhover {
  from {
    box-shadow: none;
    color: var(--dark);
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    box-shadow: 0px 5px 5px -1px #EEE;
    color: var(--dark-hover);
    transform: translateY(-1px);
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .navbar-container {
    width: 100vw;
    flex-direction: column;

  }
  
}